body{
  background:#222;
  box-sizing:border-box;
  color:#fff;
  font-family: 'Cabin', sans-serif;
  font-size:16px;
  text-align:center;
}

.container{
  padding-top: 6rem;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  h1{
    font-size:2.5em;
  }
}

.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.ball {
  //border-radius: 50%;
  margin: 24px;
  width: 50px;
  height: 50px;
  background-color: blue;
}
.newBall {
  //border-radius: 50%;
  margin: 24px;
  width: 50px;
  height: 50px;
  background-color: red;
}




#sunGlobe{
  transform-origin: 50% 50%;
  animation: spin 20s linear infinite;
  width: 80px;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
    -moz-transform:rotate(360deg);
		transform: rotate(360deg);
    fill: yellow;
	}
}


#grade {
  animation: spin 20s linear infinite;
  // color: yellow;
  svg {
    fill: yellow;
  }
}

